{% extends 'home.html' %}

{% load static %}

{% block content %}
<main>
<section>
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-12 text-center mb-5">
        <br><br>
          <h1 class="page-title">About us</h1>
        </div>
      </div>

      <div class="row mb-5">

        <!--<div class="d-md-flex post-entry-2 half">-->
        <!--  <a href="#" class="me-4 thumbnail">-->
        <!--    <img src="{% static 'assets/img/otherlogo.png' %}" alt="" class="img-fluid">-->
        <!--  </a>-->
        <!--  <div class="ps-md-5 mt-4 mt-md-0">-->
        <!--    <div class="post-meta mt-4">About us</div>-->
        <!--    <h2 class="mb-4 display-4">Company History</h2>-->

        <!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, perspiciatis repellat maxime, adipisci non ipsam at itaque rerum vitae, necessitatibus nulla animi expedita cumque provident inventore? Voluptatum in tempora earum deleniti, culpa odit veniam, ea reiciendis sunt ullam temporibus aut!</p>-->
        <!--    <p>Fugit eaque illum blanditiis, quo exercitationem maiores autem laudantium unde excepturi dolores quasi eos vero harum ipsa quam laborum illo aut facere voluptates aliquam adipisci sapiente beatae ullam. Tempora culpa iusto illum accusantium cum hic quisquam dolor placeat officiis eligendi.</p>-->
        <!--  </div>-->
        <!--</div>-->

        <div class="d-md-flex post-entry-2 half mt-5">
          <a href="#" class="me-4 thumbnail order-2">
            <img src="{% static 'assets/img/otherlogo.png' %}" alt="" class="img-fluid">
          </a>
          <div class="pe-md-5 mt-4 mt-md-0">
            <div class="post-meta mt-4">Mission &amp; Vision</div>
            <h2 class="mb-4 display-4">Mission &amp; Vision</h2>

            <p>Yeah...if you are here, then you are already cruizing on what's buzzing. The whole mission and vision of this blog page is to help you discover, navigate, get information on what may be elusive or difficult, and of course, be in the know on the on about various happenings on various happenings on various fronts of life.</p>
            <p>Buzzcruize also wants to be a platform for you to be heard, read, or for your products or services to be seen.</p>
          </div>
        </div>

      </div>

    </div>
  </section>
</main><!-- End #main -->
{% endblock %}
{% block recent_posts %}
          <div class="col-lg-4">
            <h3 class="footer-heading"></h3>
            {{ latest_posts }}
            {% for category, post in latest_posts.items %}
              {% if post %}
                <ul class="footer-links footer-blog-entry list-unstyled">
                  <li>
                    <a href="{% url 'post_detail' category=category.slug slug=post.slug %}" class="d-flex align-items-center">
                      {% if post.image %}
                        <img src="{{ post.image.url }}" alt="" class="img-fluid me-3">
                      {% endif %}
                      <div>
                        <div class="post-meta d-block"><span class="date">{{ category }}</span> <span class="mx-1">&bullet;</span> <span>{{ post.created |date:'M-d-Y ' }}</span></div>
                        <span>{{ post.title }}</span>
                      </div>
                    </a>
                  </li>
                </ul>
              {% endif %}
            {% endfor %}
{% endblock %}
